.container {
    background-color: rgb(57, 151, 29);
    height: 60px;
   
}


.head {
  
    position: absolute;
    width: 10%;
}

.head1 {

    position: relative;
    margin-left: 100px;
    width: 30%;
  
}